@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-3">
    <form action="/friends/add_new" method="get">
      <input type="hidden" name="show-info" value="friend-new">
      <button type="submit" name="add-friend">Add friend</button>
    </form>
    @foreach(var friend in @Model["friends"])
    {
      <h4>
        <form action="/friends/@friend.GetId()/info" method="get">
          <button type="submit" name="button">@friend.GetName()</button>
        </form></h4>
    }

  </div>
  <div class="col-md-3">
    @foreach(var city in @Model["cities"])
    {
      <h4>
        <form action="/cities/@city.GetId()/info" method="get">
          <input type="hidden" name="show-info" value="city">
          <button type="submit" name="button">@city.GetName()</button>
        </form></h4>
    }
  </div>
  <div class="col-md-6">
    @if(@Model["display"] == "friend-new")
    {
      <form  action="/friends/add_new" method="post">
        <div class="form-group">
          <label for="friend-name">Enter the friend's name</label>
          <input type="text" name="friend-name" class="form-control">
        </div>
        <div class="form-group">
          <label for="friend-date">Enter the date</label>
          <input type="text" name="friend-date" class="form-control">
        </div>
        <div class="form-group">
          <select class="form-control" name="city">
            @foreach(var city in @Model["cities"])
            {
              <option value="@city.GetId()">@city.GetName()</option>
            }
          </select>
        </div>
        <button type="submit" name="button">Confirm</button>
      </form>
    }
    @if(@Model["display"] == "friend-added")
    {
      <h3>You just added a friend!</h3>
    }
    @if(@Model["display"] == "friend-info")
    {
      <h2>@Model["selected"].GetName()</h2>
      <h3>Most Recent Vacation: @Model["selected"].GetDate()</h3>
        @foreach(var city in @Model["friendCities"])
        {
          <p>
            test
            @city.GetName()
          </p>
        }
    }
  </div>
</div>
